.main-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  margin-right: 3px;
}

td.td-actions {
  display: flex;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
}
